werkzeug
requests
gunicorn
python-dotenv
flask
Flask-SQLAlchemy
plotly
pandas
dash
mariadb
matplotlib
ipywidgets
openpyxl
flask_restful
flask-migrate
flask_session
dash-bootstrap-components
redis
sqlalchemy
flask-security-too[common,fsqla]
flask_restful
flask-migrate
mariadb

