{% extends "base_basic.html" %}

{% block head %}
  <!-- metas -->
  <title>
    <!-- title -->
    <heading1>Dash Template</heading1>
  </title>
  <!-- favicon -->
  <!-- css -->
  
{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome Dash Page.
    </p>
    <iframe src="/app1" width=80vw height=80vh>
{% endblock %}

{% block body %}
  <!-- app_entry -->
<footer>
  <!-- config -->
  <!-- scripts -->
  <!-- renderer -->
</footer>
{% endblock %}
